<div class="container" >
    <div id="headSection" class="top-case">
        <div @fadeIn class="left-box">
            <p  *ngIf="visible" class="left">Hi,<br> I'm <span class="purple"> Daniel</span> Pozzan<br> Front End develop<span class="bluegreen">e</span>r</p>
            <a    href="#contact"><button *ngIf="visible" class="left" >Contact me</button></a>
        </div>
        <div  class="right-box">
            <img src="./assets/img/headphoto4.jpg" alt="">
        </div>
        
    </div>
    <div  class="expand-button">
        <a href="#skills-container"><img (mouseover)="bluegreenColor()" (mouseleave)="whiteColor()" src="./assets/img/icons/{{ img }}" alt=""></a>
        
    </div>

</div>