<footer [class.borderTop] = "borderMode">
    <div class="left-case">
        <a routerLink="/imprint">Imprint</a>
        <span> - </span>
        <a routerLink="/legal-notice">Legal Notice</a>
    </div>
    <div class="right-case">
        <a href="https://www.linkedin.com/in/daniel-pozzan-b8806093/"><img src="./assets/img/icons/linkedin.png" alt="" class="logo"></a>
        <a href="https://github.com/pozzandaniel"><img src="./assets/img/icons/github.png" alt="" class="logo"></a>
        <a href="https://www.xing.com/profile/Daniel_Pozzan2/cv"><img src="./assets/img/icons/symbol.png" alt="" class="logo"></a>
    </div>
</footer>
