.container {
    width: 100%;
    height: 949px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top-row{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        img{
            height: 254px;
            width: 254px;
            object-fit: cover;
            border-radius: 126px;
        }
        .text-box{
            h2{
                font-family: ;
            }
        }
    }
}