nav{
    background-color: rgba(0, 0, 0, 1);
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        height: 30px;
        width: 60px;
        padding-left: 120px;
        cursor: pointer;
    }

    .list-case{
        padding-right: 120px;
        display: flex;
        

        li {
            list-style: none;
            margin-left: 15px;
            margin-right: 15px;
            cursor: pointer;

            a{
                text-decoration: none;
                color: white;
                font-family: 'Inter';
                font-weight: 500;

                &:hover{
                    color: #fa2759;
                }
            }

           
        }
    }
}


