<div id="skills-container">
    <p>MY Skills</p>
    <div class="skills-row">
        <div class="skill-box">
            <div class="logo-container"><img src="./assets/img/icons/js.png" alt=""></div>
            <p>JavaScript</p>
        </div>
        <div class="skill-box"></div>
        <div class="skill-box"></div>
    </div>
    <div class="skills-row">
        <div class="skill-box"></div>
        <div class="skill-box"></div>
        <div class="skill-box"></div>
    </div>
    <div class="skills-row">
        <div class="skill-box"></div>
        <div class="skill-box"></div>
        <div class="skill-box"></div>
    </div>
    
</div>
