<div id="skills-container">
    <p>MY Skills</p>
    <div class="skills-row">
        <div *ngFor="let i of [0 , 1, 2]" [@fadeInLeft]="'state === true'" class="skill-box">
            <div class="logo-container" ><img src="./assets/img/icons/{{ logos[i] }}" alt=""></div>
            <p>{{ skills[i] }}</p>
        </div>
    </div>
    <div class="skills-row" >
        <div *ngFor="let i of [3, 4, 5]"  class="skill-box">
            <div class="logo-container"><img src="./assets/img/icons/{{ logos[i] }}" alt=""></div>
            <p>{{ skills[i] }}</p>
        </div>
    </div>
    <div class="skills-row">
        <div *ngFor="let i of [6, 7, 8]"  class="skill-box">
            <div class="logo-container"><img src="./assets/img/icons/{{ logos[i] }}" alt=""></div>
            <p>{{ skills[i] }}</p>
        </div>
    </div>
 
    
</div>