<div id="contact" class="container">
    <div>
        <h2>Contact me.</h2>
        <p>Get in touch via the form below, or by emailing <span>pozzan.dnl@gmail.com</span></p>
    </div>
    <form>
        
        <label for="name">Name</label>
        <input id="name" type="text" placeholder="Enter your name" required>
        <label for="email">Email adress</label>
        <input id="email" type="email" placeholder="Enter your Email adress" required>
        <label for="message" >Message</label>
        <textarea id="message" cols="30" rows="10" placeholder="Enter your message" required></textarea>
        <div class="button-box">
            <button>Send</button>
        </div>
    </form>

</div>
